<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Combat manager</title>


    </head>
    <body>
        <div class="header">
            <% include ../_includes/header %>
        </div>

        <% include ../_includes/menus %>
        <div class="content">
            <div class="container-fluid">
                <form name="combate" method="POST" action="cadastro/">
                    <div class="form-group">
                        <label form="personagem">Nome do personagem</label>
                        <input type="text" class="form-control" name="personagem" id="personagem" placeholder="Personagem">
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label form="hp">HP Total</label>
                                <input type="number" class="form-control" name="hp" id="hp" placeholder="HP">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label form="ca">Classe de Armadura</label>
                                <input type="number" class="form-control" name="ca" id="ca" placeholder="CA">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label form="des">Modificador de Destreza</label>
                                <input type="number" class="form-control" name="des" id="des" placeholder="Des">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label form="background">Background do personagem</label>
                        <textarea type="text" class="form-control" name="background" id="background" placeholder="Background"></textarea>
                    </div>
                    <div class="form-group">
                        <label form="jogador">Nome do jogador</label>
                        <input type="text" class="form-control" name="jogador" id="jogador" placeholder="Jogador">
                    </div>
                    <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
                </form>
            </div>
        </div>

        <div class="footer">
            <% include ../_includes/footer %>
        </div>
    </body>
</html>