<div class="topbar">
    <div class="icone">
        <i class="fa fa-superpowers" aria-hidden="true"></i>
    </div>
</div>
<div class="sidebar">
    <ul>
        <li><a href="/combates/list"><i class="fa fa-list" aria-hidden="true"></i><div class="texto">Combates</div></a></li>
        <li><a href="/players/list"><i class="fa fa-users" aria-hidden="true"></i><div class="texto">Jogadores</div></a></li>
        <li><a href="/npcs/list"><i class="fa fa-user" aria-hidden="true"></i><div class="texto">NPCs</div></a></li>
        <li><a href="/monstros"><i class="fa fa-book" aria-hidden="true"></i><div class="texto">Monstros</div></a></li>
        <li><a href="/calculadora-exp"><i class="fa fa-calculator" aria-hidden="true"></i><div class="texto">Calc. EXP</div></a></li>
    </ul>
</div>